span {
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(28, 27, 27);
    margin: 5px;
    border: 1px solid black;
}

.logo:hover {
    animation: pulse;
    animation-duration: 1s;
}

.container{
    margin-left: 32px;
    display: flex;
    justify-content:space-between ;
    
}

.power {
    position: relative;
    bottom: 60%;
    left: 90%;
    font-size: 13px;
    color: rgb(241, 126, 24);
    background: none;
    border-style: none;
}

.green-dot {
    color: green;
    border: none;
    text-decoration: none;
}

.menu-right {
    margin: 3px;
}

.location {
    border-style: none;
    font-weight: bold;

}

.location:hover {
    color: rgb(244, 108, 46);
    text-decoration: underline;

}

.search-btn:hover {
    color: rgb(244, 108, 46);

}

.search-btn {
    background: none;
}

.text-color {
    color: rgb(132, 130, 132);
    background: none;
    font-size: 14px;
    border-style: none;

}

.search-icon {
    position: relative;
    right: 32px;
    top: 12px;
    width: 20px;
    height: 20px;

}

.search-icon:hover {
    cursor: pointer;
}

.text-color:hover {
    text-decoration: none;
}

.menubar {
    margin: 24px;
}

.right-nav {
    margin-top: 10px;
}

.arrow {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(244, 108, 46);
}

.offer-button {
    border-style: none;
    background: none;
}

.offer-button:hover {
    color: rgb(244, 108, 46);
}

.help-button {
    border-style: none;
    background: none;
}

.help-button:hover {
    color: rgb(244, 108, 46);
}

.user-button {
    border-style: none;
    background: none;
    text-decoration: none;
}

.user-button:hover {
    color: rgb(244, 108, 46);
}

.cart-button {
    border-style: none;
    background: none;
}

.cart-button:hover {
    color: rgb(244, 108, 46);
}