*{
  margin: 0;
  padding: 0;
}
.hero-conatiner{
  background-color: rgb(32, 35, 48);
}

.hero-img{
  width: 280px;
  height: 280px;
  margin: 40px;
  padding-top: 12px;
}
.hero-img:hover{
  animation: pulse;
  animation-duration:1s;
}

.filter{
  margin-left: 14px;
  border-style: none;
  background: none;
  font-size: 16px;
  
}
.filter:hover{
  color: rgb(236, 130, 8);
}
.filter-icon{
  font-size: 26px;
}
.star{
  width: 14px;
  height: 14px;
  padding: 2px;
}
.card{
  width: 80vw;
  height: 100vh;
  border-style: none;
  margin: auto;
  text-decoration: none;
}

.box{
  margin-top: 1px;
  width: 200px;
  height:250px;
  text-decoration: none;
}
.card-img:hover{
  animation:pulse;
  animation-duration:1s;
}
.card-img{
  width: 220px;
  height: 150px;
  border-radius: 20px;
}
.search-restro-img{
  width: 80px;
  height:80px;
  margin: 5px;
  border-radius: 9px;
}